body {
  background-color: #252b57;
  color: lightgray;
}

select {
  background-color: #303030;
  color: lightgray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px black;
  border-radius: 10px;
  background-color: #404040;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background-color: #404040;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #777;
}