.sort-by-container {
    width: 95%; 
    display: flex; justify-content: space-around;
    align-items: center;
}

.sort-button {background-color: #303030; color: lightgray;}
.sort-button:hover {outline: 0.5px solid gray;}
