.action-pane {
    width: 225px; 
    display: flex; flex-direction: column;
    align-items: center; justify-content: space-between;
    background-color: #181818;
    margin: 1% 0; padding: 2%;
    font-size: 75%;
    border-radius: 5px;
}

.action-pane:hover {outline: 0.5px solid gray; background-color: #303030;}

.action-pane-header-row {
    width: 100%;
    display: flex; justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
}

.action-detail-desc-column {
    width: 55%;
    display: flex; flex-direction: column;
    justify-content: flex-start; align-items: flex-start;
    white-space: wrap;
}

.action-detail-items-column {
    width: 45%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-end;
}

.action-detail-item {
    width: 90px; height: 13px;
    display: flex; align-items: center;
    border-radius: 10px;
    outline: 0.5px solid #151515;
    font-size: 75%;
}
.action-detail-label, .action-detail-value {
    height: 100%;
    display: flex; justify-content: center;
    align-items: center;
}
.action-detail-label {
    border-radius: 10px 0 0 10px;
    background-color: #303030; width: 55%;
}
.action-detail-value {
    width: 45%;
    border-radius: 0 10px 10px 0;
    background-color: #a6a6a6; color: black;
    font-weight: bold;
}
.action-pane-selected {
    outline: 0.5px solid lightgray;
    background-color: #303030;
}