.armor-pane {
    width: 225px; height: 40px;
    display: flex;
    background-color: #181818;
    border-radius: 10px;
    margin: 2% 0; padding: 0 5%;
    font-size: 75%;
}

.armor-label, .armor-details {
    height: 100%;
    display: flex; flex-direction: column;
    justify-content: center;
}

.armor-label {width: 60%} 
.armor-details {width: 40%;}

.armor-type {color: gray; font-style: italic;}