.name-wrapper {
    width: 100%; height: 50px;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}

.name-input-row {width: 85%; display: flex;}

.name-change-confirm-button {background-color: #303030; color: lightgray;}

.name-change-confirm-button:hover {background-color: #404040; color: white;}

.name-display, .name-input {
    width: 85%;
    font-weight: bold;
    display: flex; justify-content: center;
}

.name-display {cursor: pointer;}
.name-display:hover {color: white;}

.name-input {
    text-align: center;
    background-color: transparent; color: lightgray;
}

.name-label {
    width: 80%;
    font-size: 70%;
    display: flex; justify-content: center; align-items: flex-start;
    border-top: 1px solid gray;
}