.text-area-input-container {
    height: 130px;
    display: flex; flex-direction: column;
    align-items: center; justify-content: center;
}

.text-area-display-text {
    height: 90px; width: 60%;
    text-align: center;
    font-size: 80%;
    font-style: italic;
    cursor: pointer;
}
.text-area-display-text:hover {color: white;}

.text-area-textarea-element {
    background-color: #303030; color: lightgray;
}

.text-area-not-saved {color: pink;}