.board {
    display: flex; flex-wrap: wrap;
    width: 40%;
    align-content: flex-start;
}

.square {
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    cursor: pointer;
}

.square:hover {filter: brightness(1.2)}

.char-square {
    display: flex; flex-direction: column;
    justify-content: flex-end; align-items: center;
    cursor: pointer;
}

.char-hover {outline: 0.1px solid gray;}
.char-hover:hover {outline: 0.5px solid white; color: white;}

.portal-icon {font-size: 200%; color: lightblue;}
.door-icon {font-size: 200%; color: lightgray;}

.editor-square {outline: 0.1px solid gray;}

.char-square-top, .char-square-bottom {
    width: 100%;
    display: flex; flex-direction: column;
    align-items: center;
}
.char-square-top {height: 20%;}
.char-square-bottom {height: 80%; justify-content: flex-end;}

.char-square-effects-row {
    width: 100%; height: 100%;
    display: flex; align-items: center;
}

.char-square-effect {
    width: 20%; height: 90%;
    display: flex; 
    justify-content: center; align-items: center;
    background-color: #303030;
}
.char-square-effect:hover {outline: 0.5px solid white;}

.char-square-name {
    width: 100%;
    font-size: 55%; text-align: center;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
}

.offense-range {background-color: #966262;}
.defense-range {background-color: #517d9e;}

.off-aoe-range {background-color: #d44e4e;}
.def-aoe-range {background-color: #3991d4;}

.charbar-container {
    width: 100%; height: 25%;
    display: flex; flex-direction: column;
    background-color: #303030;
}

.hpbar {height: 65%; background-color: darkred;}

.mpbar {height: 35%; background-color: dodgerblue;}

