.board {
    display: flex; flex-wrap: wrap;
    width: 40%;
    align-content: flex-start;
}

.square {
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    cursor: pointer;
}

.square:hover {filter: brightness(1.2)}

.offense-range {background-color: #966262;}
.defense-range {background-color: #517d9e;}

.off-aoe-range {background-color: #d44e4e;}
.def-aoe-range {background-color: #3991d4;}
