.class-builder-container {
    width: 50%; height: 100%;
    outline: 0.5px solid gray;
    display: flex; flex-direction: column;
    align-items: center; justify-content: space-between;
}

.class-builder-main-edit {
    width: 100%;
    display: flex; align-items: center;
}

.class-builder-passives-row {
    width: 90%; height: 75px;
    display: flex; align-items: center;
    flex-wrap: wrap;
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
}
.class-builder-passives-row > * {margin: 0 2%;}

.class-builder-save-button {
    align-self: flex-start;
    margin: 5px 0 0 5px;
    color: lightgray;
}
.class-builder-save-button:hover {color: lightblue;}
.not-saved {color: pink;}

.class-builder-column {
    width: 50%; height: 100%;
    display: flex; flex-direction: column;
    align-items: center;
}
.class-builder-column > * {margin-bottom: 2%;}

.class-builder-attr-column {
    width: 75%; height: 200px;
    align-self: flex-start;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}
.class-builder-attr-column > small {margin-top: 3%; color: gray;}

.class-builder-actions-armors {
    width: 100%; height: 65%;
    display: flex;
}

.class-builder-attr-row {
    width: 100%;
    display: flex;
}

.class-builder-attr-label {
    width: 50%; 
    display: flex; justify-content: flex-end;
    align-items: center;
}

.class-builder-list {width: 90%; display: flex; flex-direction: column;}

.class-builder-list-header {width: 90%; text-align: left;}

.class-builder-list-box {
    width: 300px; max-height: 100%;
    display: flex; flex-direction: column;
    overflow-y: scroll;
    background-color: #202020;
    border-radius: 10px;
}
.class-builder-list-box > * {margin: 1% 2%;}

.list-box-header {font-size: 75%;color: gray;}

.class-builder-list-box-row {
    width: 95%;
    display: flex; 
    justify-content: space-between; align-items: center;
}

.class-item-sort-button-row {
    width: 80%; display: flex;
    justify-content: space-around;
}

.clickable-icons {
    font-size: 110%;
    color: gray;
    margin-left: 1%;
}
.clickable-icons:hover {color: lightgray;}