.attributes-container {
    height: 150px;
    display: flex; justify-content: space-around; align-items: center;
}

.labels-column {
    height: 100%;
    display: flex; flex-direction: column; 
    justify-content: space-between; align-items: flex-end;
    font-size: 90%;
}

.attr-column {
    height: 150px; width: 8%;
    display: flex; flex-direction: column; 
    justify-content: space-between; align-items: center;
}

.attr-display {
    display: flex; flex-direction: column; align-items: center;
    margin-bottom: 30%;
}
.attr-display:hover {color: white;}

.attr-value {font-size: 200%; font-weight: bold;}

.pb-label {height: 26px; margin-top: 3px;}

.red {color: darkred;}
.green {color: lightgreen;}