.characters-container {
    width: 1300px; height: 900px;
    display: flex; flex-direction: column;
    outline: 0.5px solid gray;
}

.chars-top-bar {
    width: 99%; height: 50px;
    display: flex; align-items: center;
    padding: 0 1%;
}

.main-section {
    width: 100%; height: 800px;
    display: flex; align-items: center;
}

.char-list {
    width: 17%; height: 100%;
    display: flex; flex-direction: column; align-items: center;
    overflow-y: scroll;
}
