.stat-pane {
    width: 100%; height: 28%;
    display: flex; 
    background-color: #202020;
    font-size: 85%;
    border-radius: 10px;
    padding: 1% 0;
}

.left-list, .atk-bonus-list, .ele-bonus-list {
    display: flex; flex-direction: column;
    justify-content: center;
}

.left-list {width: 25%;}
.atk-bonus-list {width: 15%;}
.ele-bonus-list {width: 30%; flex-wrap: wrap;}

.list-row {width: 100%; display: flex;}

.list-label {
    width: 65%;
    display: flex; 
    justify-content: flex-end; align-items: center;
    padding-right: 5%;
}

.list-value {width: 30%;}

.stat-pane-atk-bonus-pane, .ele-bonus-pane {
    display: flex;
    outline: 0.5px solid gray;
    border-radius: 10px;   
}

.stat-pane-atk-bonus-pane {height: 25%; width: 80%; font-size: 90%;}
.ele-bonus-pane {height: 19%; width: 47%; font-size: 75%;}

