.board-pane {
    width: 80%;
    display: flex; flex-direction: column;
    justify-content: space-between;
    font-size: 75%;
    padding: 4%;
}

.board-char-list {text-overflow: ellipsis;}

.selected {background-color: #303030; color: lightblue; outline: 0.5px solid lightblue;}